html.main-page{
  body{
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: none;
  }

  .section1{
    background:
      linear-gradient(to bottom right, #3d10484a, #1d071d7d),
      url(/images/subtle_rocks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100vh;

    .header{
      padding-top: 10vh;
    }
  }

  // On small screens, at some padding to the bottom
  @media screen and (max-height: 650px) {
    .section1{
      padding-bottom: 2em;
    }
  }

  .content{
    color: white;
  }

  .header{
    font-size: 4.5em;
    font-weight: bold;
  }

  .selfie{
    margin-top: 1.5em;

    img{
      height: 12em;
      width: 12em;
      box-shadow: #3c2f2fa6 0px 2px 2px 0px;
      opacity: 0.9;
    }
  }

  .social{
    margin-top: 2em;

    a.fa, a.fab, a.fas{
      color: white;
      font-size: 3em;
      margin-right: 0.4em;

      &:hover{
        text-decoration: none;
        color: black;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }

  .section2{
    background-color: rebeccapurple;
    color: gold;
    padding-bottom: 2em;

    @media screen and (min-width: 900px){
      .about-boxes{
        width: 50%;
        margin: 0 auto;
      }
    }

    .about-boxes{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      .square-info{
        padding: 30px 50px;
        border: 1px solid white;
        width: 250px;
        margin-top: 25px;

        ul{
          list-style: none;
          text-align: left;
        }
      }
    }
  }
}
