$purple: rebeccapurple;
$teal: rgb(58, 163, 189);
$gold: rgb(255, 221, 0);

$main-font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;

html.main-page {
  body {
    font-family: $main-font-family;
    background: none;
  }

  .section1 {
    background: linear-gradient(lighten($teal, 5%), lighten($purple, 25%));
    min-height: 100vh;

    .header {
      font-family: "Chewy", $main-font-family;
      padding-top: 10vh;
      font-size: 5em;
    }
  }

  // On small screens, add some padding to the bottom
  @media screen and (max-height: 650px) {
    .section1 {
      padding-bottom: 2em;
    }
  }

  .content {
    color: white;
  }

  .selfie {
    margin: 0.75em;

    img {
      height: 15em;
      width: 22em;
      border-radius: 10px;
      opacity: 0.8;
    }
  }

  .social {
    margin-top: 2em;

    a.fa,
    a.fab,
    a.fas {
      color: white;
      font-size: 3em;
      margin-right: 0.4em;

      &:hover {
        text-decoration: none;
        color: $gold;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
