.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body ul,
.blog-post-body p,
.blog-post-body .gatsby-highlight,
.blog-post-body .gatsby-resp-image-link {
  @apply mb-4;
}

.blog-post-body {
  @apply mt-5;
}

.blog-post-body a {
  @apply underline;
  @apply text-red-300;
}

.blog-post-body ul {
  @apply list-disc;
  @apply pl-4;
}

.blog-post-body h1 {
  @apply text-3xl;
  @apply font-bold;
}

.blog-post-body h2 {
  @apply text-2xl;
  @apply font-semibold;
}

.blog-post-body h3 {
  @apply text-xl;
  @apply font-medium;
}

.blog-post-body h4 {
  @apply text-lg;
  @apply font-medium;
}

.blog-post-body blockquote {
  @apply text-gray-600;
  @apply font-serif;
  @apply italic;
}
