name: CI

on: [push]

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check formatting
        # if this gets annoying consider trying something like
        # https://mskelton.medium.com/auto-formatting-code-using-prettier-and-github-actions-ed458f58b7df
        # to automatically write changes
        run: |
          yarn install --frozen-lockfile
          yarn run format:check

  # https://docs.cypress.io/guides/continuous-integration/github-actions.html#Cypress-GitHub-Action
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          # Tell Cypress to use our custom test script
          command: yarn test:e2e:ci

